@import './base.css';

/* Main Content Section */

.home .main__heading {
  font-size: 12.8rem;
  font-weight: bold;
}

.home .main__sub-heading {
  font-size: 4rem;
}

.home .button:not(button:last-of-type) {
  margin-inline-end: 20px;
}

@media (width < 1220px) {
  .home .main__heading {
    font-size: 7rem;
  }
}

@media (width < 700px) {
  .home .header__burger-menu,
  .home .header__close-menu {
    stroke: var(--color-text-on-primary);
  }

  .home .header__burger-menu path,
  .home .header__close-menu path {
    fill: var(--color-text-on-primary);
  }
}

@media (width < 550px) {
  .home .main__heading {
    font-size: 4rem;
  }

  .home .main__sub-heading {
    font-size: 2.4rem;
  }
}
